<%= render :partial => 'project_risk_section/header', :locals => { :tab=>'project_risk_statistics' ,  :project_id=> @project.id } %>

<h2><%= l(:statistics_label) %></h2>

<% content_for :sidebar do %>
    <%= render :partial => 'sidebar' %>
<% end %>
