<%= render :partial => 'project_risk_section/header', :locals => { :tab=>'project_risk_statistics' ,  :project_id=> @project.id } %>



<%= render :partial => 'simple', :locals => { :report_name => @report_name, :rows => @rows } %>

<% content_for :sidebar do %>
    <%= render :partial => 'sidebar' %>
<% end %>
