<%= render :partial => 'simple', :locals => { :report_name => @report_name, :rows => @rows } %>

<% content_for :sidebar do %>
    <%= render :partial => 'project_risks/sidebar' %>
    <%= render :partial => 'sidebar' %>
<% end %>
