<div class="contextual">
<%= link_to_if_authorized l(:button_update), {:action => 'update', :id => @project_risk.id , :project_id => @project  }, :class => 'icon icon-edit', :accesskey => accesskey(:edit) %>
<%= link_to_if_authorized l(:button_delete), {:action => 'delete', :id => @project_risk.id}, :confirm => l(:text_are_you_sure), :method => :post, :class => 'icon icon-del' %>
</div>
